.modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto; 
}
.bannertext {
    background-color: rgb(255, 65, 65);
    text-align: center;
    color: white;

}
.header {
    text-decoration: solid;
    font-family: fantasy;
}
.icon {
    width: 30px;
}
.rowspacing {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
h2 {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
}