html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(35deg, #B00002 10%, white 10%);
}
#navbar {
    font-size: 1vw;
    z-index: 2;
    background-color: white;
    height: 5vw;
    position: fixed;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
#logo {
    margin-left: 2vw;
    width: 5%;
}
#navbar-list {
    position: relative;
    top: 8vw;
}
#nb-list {
    font-size: 105%;
    position: relative;
    bottom: 6vw;
    right: 3vw;
    list-style: none;
    display: inline-block;
    padding-left: 4vw;
    color: black;
    font-weight: 500;
    opacity: 0.7;
}
#nb-list:hover {
    opacity: 1;
    transition: 0.2s ease;
}
h1 {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
h3 {
    text-align: center;
    font-size: 130%;
    margin-bottom: 2vw;
}
#pic-info {
    display: inline-flex;
    margin-top: 3vw;
    margin-left: 16.5vw;
}
#info-card {
    padding: 10px;
    margin-left: 2vw;
    width: 23%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}
#info-pic {
    width: 100%;
    margin-bottom: 2vw;
}
#gallery-section {
    background-color: #B00002;
    padding-bottom: 2vw; 
}
#white-h1, #white-h3 {
    color: white;
}
#white-h1 {
    padding-top: 2vw;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
    transition: 0.2s ease;
}
#form {
    width: 40%;
    margin: auto;
    margin-bottom: 5vw;
    padding: 20px;
    background-color: #B00002;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    color: white;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: white;
    color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    transition: 0.2s ease;
    background-color: #ff585b;
    color: white;
    border: 1px solid #ff585b;
}
#gallery {
    width: 60%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}
#gallery-scroll {
    display: flex;
    overflow-x: auto;
}
#gallery-scroll img {
    border-radius: 20px;
    width: 60%;
    flex: 0 0 auto;
    margin: 10px;
}
.info_section {
  background-color: #B00002;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  font-weight: 600;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  font-weight: 600;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  font-weight: 600;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: rgb(255, 73, 73);
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: red;
}

